#block{
	width:75%;
	height: 95%;
	margin: 0px auto;
	display: block;
	position: relative;
	background-color: #D8ECED;
	text-align: center;
	border: 0px solid black;
}

body{
	background-color: #D47373;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D47373;
	font-size: 2.5em;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #EB8A74;
}